<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= isim %></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

  </head>
  <body class="bg-light">

    <%-  include("header")   -%>


    <div class="container bg-light ">
      <nav aria-label="breadcrumb" class="pt-3">
        <ol class="breadcrumb bg-transparent">
          <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
          <li class="breadcrumb-item"><%= kategori %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= isim %></li>
        </ol>
      </nav>

      <div class="row p-2 border-top border-bottom">
        <div class="col-3">
          <img width="100%" src="<%= resim %>" alt="">
        </div>
        <div class="col-9">
          <h1><%= isim %></h1>
          <div class="row">
            <div class="col-8">
              <p><%= yazar %> | <%= yayinevi %></p>
              <div class="aciklama">
                <%= aciklama %>
              </div>
            </div>
            <div class="col-4">
              <div class="bg-white pt-3 pb-3 shadow-sm">

                <div class="bg-info rounded-pill m-3 pt-1 pb-1 pl-3 pr-3 text-white">
                  <span style="font-size:1.7rem;"> Fiyatı <%= fiyat %></span> ₺
                </div>

                <hr>

                <div class="kargo-bolumu d-flex align-items-center pl-4">
                  <div class="d-inline-block">
                    <i class="fas fa-truck-moving"></i>
                  </div>
                  <div class="d-inline-block pl-2">
                    <b class="text-danger">24 Saatte kargoda</b><br />
                    <b class="text-success">Stokta 100 kitap var.</b>
                  </div>
                </div>

                <div class="p-4">
                  <button type="button" class="w-100 btn btn-warning">Sepete Ekle</button>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container mt-3">
      <div class="diger-kitaplar">
        <h5 class="text-muted pl-3">Önerilen Kitaplar</h5>

        <div class="d-flex flex-wrap pt-3">

        <%
        var sayi  = kitaplar.length > 5 ? 6 : kitaplar.length;
        for(var i = 0 ; i < sayi ; i++){ %>

          <div class="col-2 pb-4 text-dark">
            <a href="/kitap/<%= kitaplar[i].kitapismi %>/<%= kitaplar[i].index %>">
              <div class="card">
                <img height="250" src="<%= kitaplar[i].resimlinki %>" class="card-img-top">
                <div class="card-body p-2">
                  <p class="card-text text-center ">
                    <span style="text-decoration:underline;"><%= kitaplar[i].kitapismi %></span><br />
                    <%= kitaplar[i].fiyat  %> ₺
                  </p>
                </div>
              </div>
            </a>
          </div>

        <% } %>







        </div>

      </div>
    </div>


    <%- include("footer") -%>

  </body>
</html>
